.question-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__header {
    flex-shrink: 0;
    padding: 1.5rem 2rem;
    background-color: white;
    border-bottom: 1px solid #f3f4f6;
    display: flex;
    align-items: flex-start;
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
  }
}
